.NewsItem h1 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
  text-align: center;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.NewsItem {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  /* border: 1px solid black; */
}
.NewsItem img {
  object-fit: contain;
  width: 100%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
}
.News__Header {
  border-bottom: 1px solid rgba(0, 0, 0,0.05);
}
.News__Content{
    padding: 10px;
    /* border: 1px solid black; */
}
.NewsItem h1:hover{
  overflow: visible;
}

@media (max-width:768px){
    .NewsItem img {
        object-fit: cover;
        box-shadow: none;
        width: 100%;
        /* height: 60%; */
    }
    .NewsItem{
        margin-top: 70px;
    }
    
}